selenium==4.15.2
gspread==5.11.0
google-auth==2.23.4
google-auth-oauthlib==1.1.0
google-api-python-client==2.104.0
beautifulsoup4==4.12.2
lxml==4.9.3
requests==2.31.0
python-dateutil==2.8.2
pytz==2023.3.post1
pandas==2.1.1
numpy==1.25.2
urllib3==1.26.16